@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.imgcontainer {
  text-align: right;
  margin: 24px 0 12px 0;
}

img.Untitleddesign {
  width: 10%;
  margin-bottom: 580px;
  margin-right: 380px;
  border-radius: 50%;
}

.container {
  padding-top: 50px;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: 
#1c1c1c;
}

.box {
  position: absolute;
  width: 380px;
  height: 420px;
  background: 
#1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}
